body {
	font-family: Arial;
	font-size: 1em;
}

h1 {
	font-size: 150%;
}

div.form {
  border: 1px dotted grey;
  padding: 16px;
  background-color: #eeeeee;
}

textarea {
	font-family: Courier;
	height: 280px;
	font-size: 90%;
	width: 92%;
	padding: 1em;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.wrapper {
	min-width: 700px;
	margin: 0 auto;
}

div.form div.left {
	width: 50%;
	float: left;
}

div.form div.right {
	width: 49%;
	float: right;
}

div.check  input {
	margin-top: 20px;
}

label.label {
	display: block;
	margin-bottom: 10px;
	font-size: 110%;
}

label.check {
	font-size: 110%;
}

div.action {
	margin-bottom: 5px;
}

input.compare {
	display: inline-block;
	outline: none;
	text-decoration: none;
	line-height: 1;
	padding: .7em 2em .75em;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
	margin-top: 20px;
	font-size: 110%;
	border: solid 1px #b7b7b7;
}

input.compare:hover {
	background: #D9D9D9;
}

input.compare:active {
	background: #CDCDCD;
}

table {
	border-collapse: collapse;
	margin-top: 20px;
	width: 100%;
	border: 1px solid #DDD;
}

thead tr {
	font-weight: normal;
	text-align: center;
	height: 2em;
	border-bottom: 1px solid #DDD;
	background-color: #EBEBEB;
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#EBEBEB));
	background: -moz-linear-gradient(top, #F9F9F9, #EBEBEB);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#EBEBEB');
}

tr.plus {
	background: #D3FFD3;
}

tr.minus {
	background: #FFD3D3;
}

td {
	font-family: Courier;
	font-size: 12px;
	padding: 1px 2px;
	white-space: pre;
}

td.line-number {
	text-align: right;
	min-width: 3em;
	background-color: #ECECEC;
	border-right: 1px solid #DDD;
	color: #AAA;
}

td.content {
	width: 100%;
	padding-left: 4px;
}